@media (max-width: 1200px)  
  .container
    max-width: 960px    
  .hotel
    &__slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover  
  .packages-card
    &__item
      &--main
        max-height: 500px
  .card
    width: 220px
    height: 220px
  .footer    
    &__input
      &-group
        flex-basis: 100%
      
   

@media (max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .button
    background: $primary
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 50px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
        &:hover
          color: $light
  .search
    &__input
      width: 340px
  .user
    &__name
      padding-top: 5px
  .navbar    
    &__menu
      max-width: 673px
      margin-left: 15px
      &__link   
        font-style: normal     
        font-size: 12px
        line-height: 15px
        text-transform: uppercase
  .hotel
    padding-bottom: 55px
    &-grid
      flex-direction: column    
    &__slider
      width: 100%
      margin-bottom: 30px
    &-right
      flex-direction: row 
      &__booking 
        margin-top: -5px  
  .booking
    width: 339px 
    padding: 28px 24px 25px 23px        
  .map  
    width: 340px
  .packages
    padding-top: 35px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .newsletter
    padding: 72px 0 75px 0
  .subscribe
    width: 350px    
    &__button
      min-width: 65px
  .reviews
    padding-bottom: 60px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-bottom: 47px
    &-slider
      &__button
        top: 46%
        &--next
          right: 3px
        &--prev
          left: 1px
      &__text
        padding-left: 5px
        padding-right: 5px        
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    padding-right: 154px
    &:last-child
      padding-right: 80px
  .activities
    padding-bottom: 50px
  .footer
    padding-top: 72px 
    &-wrapper
      grid-template-columns: 172px 287px 53px minmax(min-content, 1fr) 
      grid-row-gap: 49px 
      grid-column-gap: 4px 
    &__logo
      grid-row: 1 / 2      
      width: 96px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: 2 / 4
        align-self: center
        margin-top: 8px
        margin-left: 12px        
    &__categories
      grid-row: 2/3 
      grid-column: 1/2
    &__additional
      grid-row: 2/3
      grid-column: 2/3
      margin-left: 22px
    &__legal
      grid-row: 2/3
      grid-column: 3/5 
    &__ul
      padding-left: 0        
    &__contact
      &-details
        grid-row: 3
        grid-column: span 4 
      &-form        
        grid-row: 4
        grid-column: span 4
        width: 77%
        padding-top: 10px
        padding-left: 0 
        margin-bottom: 0px
    &__input
      &-group
        flex-basis: 47%
    &__bottom
      grid-column: 1/5
      padding: 0
    &__link
      text-decoration: none
      color: inherit 
      &:hover
        color: #BDBDBD
    &__number          
      &:hover
        color: #BDBDBD 
  .contact-details
    &__ul
      padding-left: 10px      
         
@media (max-width: 767px)
  body  
    padding-top: 78px
  .container  
    max-width: 576px   
    width: 92%
  .navbar
    &__mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 5  
        background-color: #fff              
    &__user, &__search  
      &-thankyou   
        display: none   
      &--mobile
        &--hiden
          display: none
        &--visible
          display: flex                    
    &__search
      margin-bottom: 37px       
    &__user
      flex-direction: column
      justify-content: center 
      margin-bottom: 10px           
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 10px
      &--visible
        display: block
        z-index: 5  
        overflow-y: scroll 
        padding-left: 14px
    &-menu
      flex-direction: column 
      &__item          
        &--mobile
          &--visible
            display: flex 
        &--mb2
          margin-bottom: 17px
                                
    &__menu
      margin-left: 3px  

    &-top
     &__menu-button
       display: flex
       width: 16px
       height: 11px
       padding: 0
       margin-top: 4px
       align-items: center
       justify-content: space-between
       flex-direction: column
       border: none
       background-color:#fff
       cursor: pointer
  .menu
    &-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 6px
        margin-bottom: 16px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    &-name  
      flex-basis: 100%
      margin-top: 10px
    &-wrapper
      justify-content: space-between
    &-info
      &__stars
        margin-right: 13px
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0 
    &__slider
      height: 350px
      margin-top: 18px
    &-right
      flex-direction: column
      min-height: 439px
  .booking
    width: 100%
  .map  
    width: 100%  
  .packages
    &-wrapper
      grid-template-columns: repeat(1, 1fr)
    &-card
      width: 100%
      min-height: 760px
      &__wrapper
        grid-column: 1
        display: flex
        flex-direction: column
        height: 100%
        min-height: 943px
      &__item
        &--main
          width: 100%
      &__image
        height: 500px  
  .newsletter 
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px   
      width: 92%  
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 71px        
        &--prev
          margin-left: -91px
          left: 50%
          transform: translate(-50%,0)
        &--next
          margin-right: -89px
          right: 50%
          transform: translate(50%,0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, minmax(min-content, 1fr))
      grid-column-gap: 20px
    &__logo
      grid-column: span 2
    &__social
      &-network
        grid-column: span 2
    &__categories
      grid-column: span 2
    &__additional
      grid-column: span 2
      margin-left: 0
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 6
      &-form
        grid-column: span 6
    &__input
      &-group
        flex-basis: 100%
        margin-top: 0
    &__button
      &-wrapper
        align-items: start
    &__bottom
      flex-wrap: wrap      
      &-list
        margin-top: 5px
  .contact-form
    &__thankyou
      display: none
      
            
@media (max-width: 576px)
  .navbar
    &__search
      max-width: 245px
      margin-left: 0
  .logo
     width: 99px  
  .hotel
    padding-bottom: 0
    &-right
      justify-content: flex-start
      &__map
        margin-top: 20px
    &__slider
      margin-bottom: 24px
      height: 180px
    &__map
      margin-top: 20px
  .map  
    height: 172px
  .packages-card
    min-height: 660px
    &__wrapper
      min-height: 890px
    &__image
      height: 400px  
  .newsletter 
    padding: 58px 0 83px 0
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 5px
    &__title
      margin-bottom: 37px
    &__input
      &-group
        width: 70%
  .subscribe
    width: 100%
    &__input
      padding-left: 20px      
      &-group
        width: 100%
  .reviews
    &-slider
      &__text
        padding-left: 0
        padding-right: 0
      &__profile
        margin-top: 0          
    &__title
      margin-bottom: 0px
      padding-left: 10px
      padding-right: 10px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
  .activities
    padding-top: 32px
    padding-bottom: 48px
    &__title
      margin-bottom: 38px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px  
  .footer
    padding-top: 68px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 25px
    &__logo
      grid-row: 1
      grid-column: 1
      width: 96px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
        margin: 0
        padding-top: 15px
    &__title
      &--inline
        margin-bottom: 22px  
        flex-basis: 100%      
    &__additional
      grid-row: 4
      grid-column: 1
      padding-top: 4px
    &__categories
      grid-row: 5
      grid-column: 1
      padding-top: 5px
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
      padding-top: 6px
    &__item
      &--map
        margin-bottom: 23px
    &__contact
      &-details
        grid-row: 6 
        grid-column: 1
        padding-top: 15px
      &-form
        grid-row: 7
        grid-column: 1
    &__text
      margin-top: 25px
      margin-bottom: 21px
    &__icon
      &-wrapper
        min-width: 25px
    &__contact
      &-form        
        padding-top: 32px
        width: 100%  
    &__message
      margin-bottom: 16px
    &__info
      margin-bottom: 15px              
    &__button
      &-wrapper  
        flex-direction: column-reverse
        flex-wrap: wrap   
        width: 150px  
    &__bottom
      grid-column: 1         
  .contact
    &-form
      &__title        
        margin-bottom: 16px
    &-details
      &__ul
        padding-left: 4px
  .modal
    &__dialog
      width: 92%
      padding-left: 45px
      padding-right: 45px
    &__input
      padding: 0 10px
    &__message
      margin-bottom: 15px
    &__button               
      &-wrapper
        flex-wrap: wrap-reverse
        margin-top: 0
    &__info
      margin-bottom: 16px
@media ( max-width: 475px )
  .packages
    &-card
      min-height: 605px    
      &__image
        height: 350px
      &__wrapper
        min-height: 835px
  .reserve
    &__info
      max-height: 230px
      overflow-y: auto
    &__price
      &-new
        font-size: 20px
  .newsletter
    &__input
      &-group
        width: 100%
  .card
    width: 100%
    padding-right: 95px 
    &:last-child
      padding-right: 40px
  .activities
    &__card
      &:nth-child(2)
        order: 1
      &:nth-child(4)
        order: 2
  .modal
    &__dialog
      padding-left: 20px
      padding-right: 20px

@media (max-width: 420px)
  .packages
    &-card
      &__wrapper
        min-height: 860px

@media (max-width: 360px)
  .packages
    &-card
      &__wrapper
        min-height: 880px
  
@media ( max-width: 340px )
  .packages
    &-card
      &__image
        height: 320px
  
  
        
      
  

    
    

    


  